<h1 class="text-center">All Restaurants:</h1>
<hr/>
<% @places.each do |place| %>

    <div class="col-md-4">
      <div>
        <p><b><%= place.name %></b></p>
      </div>
      <%= image_tag place.image.url(:thumb) %>

      <br/>

      <div>
        <%= place.description %>
      </div>
      <div>
        <hr/>
      </div>
    </div>
<% end %>
<hr/>
